{{ define "content" }}
<div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">{{ .Title }}</h5>
      <p class="card-text">{{ .Content }}</p>
      <p class="card-category">{{ .Category.String }}</p>
      <button class="btn btn-primary mb-4" onclick="toggleUpdateForm('{{ .ID }}')">Update</button>
      <form id="update-form-{{ .ID }}" method="POST" action="/updateArticle" style="display: none;">
          <input type="hidden" name="id" value="{{ .ID }}">
          <label for="title">Title:</label>
          <input type="text" id="title" name="title" value="{{ .Title }}" required>
          <div class="mb-3">
                <label for="category" class="form-label">Category:</label>
                <select class="form-select" id="category" name="category" value="{{ .Category.String }}"  required>
                  <option value="For students">For students</option>
                  <option value="For staff">For staff</option>
                  <option value="For applicants">For applicants</option>
                  <option value="For researches">For researches</option>
                </select>
              </div>

          <label for="content">Content:</label>
          <textarea id="content" name="content" required>{{ .Content }}</textarea>
          <button class="btn btn-warning update-article-btn" type="submit" data-article-id="{{ .ID }}">Update</button>
      </form>

       <form id="delete-form-{{ .ID }}" onsubmit="deleteArticle({{ .ID }}); return false;">
           <input type="hidden" name="id" value="{{ .ID }}">
           <button class="btn btn-danger delete-article-btn" type="submit">Delete</button>
       </form>


    </div>
  </div>
  <script src="/static/js/main.js"></script>
  <script>
    function toggleUpdateForm(articleId) {
      var updateForm = document.getElementById('update-form-' + articleId);
      updateForm.style.display = (updateForm.style.display === 'none' || updateForm.style.display === '') ? 'block' : 'none';
    }
  </script>
{{ end }}
