{{template "base" .}}
{{define "title"}}Article - {{.Article.Title}}{{end}}
{{define "main"}}
  {{with .Article}}
    <div class='article'>
      <div class='metadata'>
        <strong>{{.Title}}</strong>
        <span>#{{.ID}}</span>
      </div>
      <pre><code>{{.Content}}</code></pre>
      <div class='metadata'>
        <time>Created: {{humanDate .Created}}</time>
      </div>
    </div>
  {{else}}
    <p>Article not found.</p>
  {{end}}
{{end}}