{{template "base" .}}
{{define "title"}}{{.Category.Name}} - Category{{end}}
{{define "main"}}
<h2>{{.Category.Name}}</h2>
<!-- Display articles related to this category -->
{{if .Articles}}
<ul>
{{range .Articles}}
<li><a href='/article?id={{.ID}}'>{{.Title}}</a></li>
{{end}}
</ul>
{{else}}
<p>No articles available in this category.</p>
{{end}}
{{end}}
